
# SparkR tutorial Notebook
This is a notebook version of the [SparkR Documentation](http://spark.apache.org/docs/2.4.0/sparkr.html)
## Overview
SparkR is an R package that provides a light-weight frontend to use Apache Spark from R. In Spark 2.4.0, SparkR provides a distributed data frame implementation that supports operations like selection, filtering, aggregation etc. (similar to R data frames, dplyr) but on large datasets. SparkR also supports distributed machine learning using MLlib.

# SparkDataFrame
A SparkDataFrame is a distributed collection of data organized into named columns. It is conceptually equivalent to a table in a relational database or a data frame in R, but with richer optimizations under the hood. SparkDataFrames can be constructed from a wide array of sources such as: structured data files, tables in Hive, external databases, or existing local R data frames.

All of the examples on this page use sample data included in R or the Spark distribution and can be run using the ./bin/sparkR shell.

## Starting Up: SparkSession
Y
ou can start SparkR from Jupyter R Kernel. You can connect your R program to a Spark cluster from RStudio, R shell, Rscript or other R IDEs. To start, make sure SPARK_HOME is set in environment (you can check Sys.getenv), load the SparkR package, and call sparkR.session as below. It will check for the Spark installation, and, if not found, it will be downloaded and cached automatically. Alternatively, you can also run install.spark manually.

In addition to calling sparkR.session, you could also specify certain Spark driver properties. Normally these Application properties and Runtime Environment cannot be set programmatically, as the driver JVM process would have been started, in this case SparkR takes care of this for you. To set them, pass them as you would other configuration properties in the sparkConfig argument to sparkR.session().

In [1]:
if (nchar(Sys.getenv("SPARK_HOME")) < 1) {
  Sys.setenv(SPARK_HOME = "/home/spark")
}
library(SparkR, lib.loc = c(file.path(Sys.getenv("SPARK_HOME"), "R", "lib")))
sparkR.session(master = "local[*]", sparkConfig = list(spark.driver.memory = "2g"))

Attaching package: ‘SparkR’

The following objects are masked from ‘package:stats’:

    cov, filter, lag, na.omit, predict, sd, var, window

The following objects are masked from ‘package:base’:

    as.data.frame, colnames, colnames<-, drop, endsWith, intersect,
    rank, rbind, sample, startsWith, subset, summary, transform, union

Spark package found in SPARK_HOME: /opt/spark

Launching java with spark-submit command /opt/spark/bin/spark-submit   --driver-memory "2g" sparkr-shell /tmp/RtmpPDaHJi/backend_port126951c03b

Java ref type org.apache.spark.sql.SparkSession id 1

The following Spark driver properties can be set in sparkConfig with sparkR.session from RStudio:

Property Name | Property group | spark-submit equivalent
 --- | --- | --- 
spark.master |	Application Properties	| --master
spark.yarn.keytab|Application Properties|	--keytab
spark.yarn.principal|	Application Properties|	--principal
spark.driver.memory|	Application Properties|	--driver-memory
spark.driver.extraClassPath|	Runtime Environment|	--driver-class-path
spark.driver.extraJavaOptions|	Runtime Environment|	--driver-java-options
spark.driver.extraLibraryPath|	Runtime Environment|	--driver-library-path

## Creating SparkDataFrames
With a SparkSession, applications can create SparkDataFrames from a local R data frame, from a Hive table, or from other data sources.

### From local data frames
The simplest way to create a data frame is to convert a local R data frame into a SparkDataFrame. Specifically, we can use as.DataFrame or createDataFrame and pass in the local R data frame to create a SparkDataFrame. As an example, the following creates a SparkDataFrame based using the faithful dataset from R.

In [4]:
df <- as.DataFrame(faithful)
# Displays the first part of the SparkDataFrame
head(df)

  eruptions waiting
1 3.600     79
2 1.800     54
3 3.333     74
4 2.283     62
5 4.533     85
6 2.883     55

### From Data Sources
SparkR supports operating on a variety of data sources through the SparkDataFrame interface. This section describes the general methods for loading and saving data using Data Sources. You can check the Spark SQL programming guide for more specific options that are available for the built-in data sources.

The general method for creating SparkDataFrames from data sources is read.df. This method takes in the path for the file to load and the type of data source, and the currently active SparkSession will be used automatically. SparkR supports reading JSON, CSV and Parquet files natively, and through packages available from sources like Third Party Projects, you can find data source connectors for popular file formats like Avro. These packages can either be added by specifying --packages with spark-submit or sparkR commands, or if initializing SparkSession with sparkPackages parameter when in an interactive R shell or from RStudio.

In [5]:
sparkR.session(sparkPackages = "com.databricks:spark-avro_2.11:3.0.0")

Java ref type org.apache.spark.sql.SparkSession id 1

We can see how to use data sources using an example JSON input file. Note that the file that is used here is not a typical JSON file. Each line in the file must contain a separate, self-contained valid JSON object. For more information, please see JSON Lines text format, also called newline-delimited JSON. As a consequence, a regular multi-line JSON file will most often fail.

In [6]:
people <- read.df("/opt/spark/examples/src/main/resources/people.json", "json")
head(people)

  age name
1 NA  Michael
2 30  Andy
3 19  Justin

SparkR automatically infers the schema from the JSON file

In [7]:
printSchema(people)

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

Similarly, multiple files can be read with read.json

In [9]:
people <- read.json(c("/opt/spark/examples/src/main/resources/people.json", "/opt/spark/examples/src/main/resources/people.json"))

The data sources API natively supports CSV formatted input files. For more information please refer to SparkR [read.df](http://spark.apache.org/docs/latest/api/R/read.df.html) API documentation.

In [10]:
csvPath <- "/opt/spark/examples/src/main/resources/people.csv"
df <- read.df(csvPath, "csv", header = "true", inferSchema = "true", na.strings = "NA", delimiter=";")

In [11]:
head(df)

  name  age job
1 Jorge 30  Developer
2 Bob   32  Developer

### From Hive tables (NOT DONE)
You can also create SparkDataFrames from Hive tables. To do this we will need to create a SparkSession with Hive support which can access tables in the Hive MetaStore. Note that Spark should have been built with Hive support and more details can be found in the SQL programming guide. In SparkR, by default it will attempt to create a SparkSession with Hive support enabled (enableHiveSupport = TRUE).

# SparkDataFrame Operations
SparkDataFrames support a number of functions to do structured data processing. Here we include some basic examples and a complete list can be found in the API docs:

## Selecting rows, columns

In [12]:
df <- as.DataFrame(faithful)
# Get basic information about the SparkDataFrame
df

SparkDataFrame[eruptions:double, waiting:double]

In [13]:
# Select only the "eruptions" column
head(select(df, df$eruptions))

  eruptions
1 3.600
2 1.800
3 3.333
4 2.283
5 4.533
6 2.883

In [14]:
# You can also pass in column name as strings
head(select(df, "eruptions"))

  eruptions
1 3.600
2 1.800
3 3.333
4 2.283
5 4.533
6 2.883

In [15]:
# Filter the SparkDataFrame to only retain rows with wait times shorter than 50 mins
head(filter(df, df$waiting < 50))
##  eruptions waiting
##1     1.750      47
##2     1.750      47
##3     1.867      48

  eruptions waiting
1 1.750     47
2 1.750     47
3 1.867     48
4 1.750     48
5 2.167     48
6 2.100     49

## Grouping, Aggregation
SparkR data frames support a number of commonly used functions to aggregate data after grouping. For example, we can compute a histogram of the waiting time in the faithful dataset as shown below

In [16]:
# We use the `n` operator to count the number of times each waiting time appears
head(summarize(groupBy(df, df$waiting), count = n(df$waiting)))

  waiting count
1 70      4
2 67      1
3 69      2
4 88      6
5 49      5
6 64      4

In [17]:
# We can also sort the output from the aggregation to get the most common waiting times
waiting_counts <- summarize(groupBy(df, df$waiting), count = n(df$waiting))
head(arrange(waiting_counts, desc(waiting_counts$count)))

  waiting count
1 78      15
2 83      14
3 81      13
4 77      12
5 82      12
6 79      10

In addition to standard aggregations, SparkR supports OLAP cube operators cube:

In [18]:
df <- as.DataFrame(mtcars)
head(agg(cube(df, "cyl", "disp", "gear"), avg(df$mpg)))

  cyl disp  gear avg(mpg)
1 NA  140.8  4   22.8
2  4   75.7  4   30.4
3  8  400.0  3   19.2
4  8  318.0  3   15.5
5 NA  351.0 NA   15.8
6 NA  275.8 NA   16.3

and rollup:

In [19]:
head(agg(rollup(df, "cyl", "disp", "gear"), avg(df$mpg)))

  cyl disp  gear avg(mpg)
1 4    75.7  4   30.4
2 8   400.0  3   19.2
3 8   318.0  3   15.5
4 4    78.7 NA   32.4
5 8   304.0  3   15.2
6 4    79.0 NA   27.3

## Operating on Columns
SparkR also provides a number of functions that can directly applied to columns for data processing and during aggregation. The example below shows the use of basic arithmetic functions.

In [20]:
df <- as.DataFrame(faithful)
# Convert waiting time from hours to seconds.
# Note that we can assign this to a new column in the same SparkDataFrame
df$waiting_secs <- df$waiting * 60
head(df)

  eruptions waiting waiting_secs
1 3.600     79      4740
2 1.800     54      3240
3 3.333     74      4440
4 2.283     62      3720
5 4.533     85      5100
6 2.883     55      3300

## Applying User-Defined Function
In SparkR, we support several kinds of User-Defined Functions:

### Run a given function on a large dataset using dapply or dapplyCollect
#### dapply
Apply a function to each partition of a SparkDataFrame. The function to be applied to each partition of the SparkDataFrame and should have only one parameter, to which a data.frame corresponds to each partition will be passed. The output of function should be a data.frame. Schema specifies the row format of the resulting a SparkDataFrame. It must match to data types of returned value.

In [21]:
df <- as.DataFrame(faithful)

# Convert waiting time from hours to seconds.
# Note that we can apply UDF to DataFrame.
schema <- structType(structField("eruptions", "double"), structField("waiting", "double"), structField("waiting_secs", "double"))
head(collect(df))
df1 <- dapply(df, function(x) { x <- cbind(x, x$waiting * 60) }, schema)
head(collect(df1))

  eruptions waiting
1 3.600     79
2 1.800     54
3 3.333     74
4 2.283     62
5 4.533     85
6 2.883     55

  eruptions waiting waiting_secs
1 3.600     79      4740
2 1.800     54      3240
3 3.333     74      4440
4 2.283     62      3720
5 4.533     85      5100
6 2.883     55      3300

#### dapplyCollect
Like dapply, apply a function to each partition of a SparkDataFrame and collect the result back. The output of function should be a data.frame. But, Schema is not required to be passed. Note that dapplyCollect can fail if the output of UDF run on all the partition cannot be pulled to the driver and fit in driver memory.

In [22]:
# Convert waiting time from hours to seconds.
# Note that we can apply UDF to DataFrame and return a R's data.frame
ldf <- dapplyCollect(
         df,
         function(x) {
           x <- cbind(x, "waiting_secs" = x$waiting * 60)
         })
head(ldf, 3)

  eruptions waiting waiting_secs
1 3.600     79      4740
2 1.800     54      3240
3 3.333     74      4440

### Run a given function on a large dataset grouping by input column(s) and using gapply or gapplyCollect
#### gapply
Apply a function to each group of a SparkDataFrame. The function is to be applied to each group of the SparkDataFrame and should have only two parameters: grouping key and R data.frame corresponding to that key. The groups are chosen from SparkDataFrames column(s). The output of function should be a data.frame. Schema specifies the row format of the resulting SparkDataFrame. It must represent R function’s output schema on the basis of Spark data types. The column names of the returned data.frame are set by user.

In [23]:
df <- as.DataFrame(faithful)

# Determine six waiting times with the largest eruption time in minutes.
schema <- structType(structField("waiting", "double"), structField("max_eruption", "double"))
result <- gapply(
    df,
    "waiting",
    function(key, x) {
        y <- data.frame(key, max(x$eruptions))
    },
    schema)
head(collect(arrange(result, "max_eruption", decreasing = TRUE)))

  waiting max_eruption
1 96      5.100
2 76      5.067
3 77      5.033
4 88      5.000
5 86      4.933
6 82      4.900

#### gapplyCollect
Like gapply, applies a function to each partition of a SparkDataFrame and collect the result back to R data.frame. The output of the function should be a data.frame. But, the schema is not required to be passed. Note that gapplyCollect can fail if the output of UDF run on all the partition cannot be pulled to the driver and fit in driver memory.

In [24]:
# Determine six waiting times with the largest eruption time in minutes.
result <- gapplyCollect(
    df,
    "waiting",
    function(key, x) {
        y <- data.frame(key, max(x$eruptions))
        colnames(y) <- c("waiting", "max_eruption")
        y
    })
head(result[order(result$max_eruption, decreasing = TRUE), ])

   waiting max_eruption
10 96      5.100
49 76      5.067
15 77      5.033
4  88      5.000
12 86      4.933
29 82      4.900

### Run local R functions distributed using spark.lapply
#### spark.lapply
Similar to lapply in native R, spark.lapply runs a function over a list of elements and distributes the computations with Spark. Applies a function in a manner that is similar to doParallel or lapply to elements of a list. The results of all the computations should fit in a single machine. If that is not the case they can do something like df <- createDataFrame(list) and then use dapply

In [25]:
# Perform distributed training of multiple models with spark.lapply. Here, we pass
# a read-only list of arguments which specifies family the generalized linear model should be.
families <- c("gaussian", "poisson")
train <- function(family) {
  model <- glm(Sepal.Length ~ Sepal.Width + Species, iris, family = family)
  summary(model)
}
# Return a list of model's summaries
model.summaries <- spark.lapply(families, train)

# Print the summary of each model
print(model.summaries)

[[1]]

Call:
glm(formula = Sepal.Length ~ Sepal.Width + Species, family = family,
    data = iris)

Deviance Residuals:
     Min        1Q    Median        3Q       Max
-1.30711  -0.25713  -0.05325   0.19542   1.41253

Coefficients:
                  Estimate Std. Error t value Pr(>|t|)
(Intercept)         2.2514     0.3698   6.089 9.57e-09 ***
Sepal.Width         0.8036     0.1063   7.557 4.19e-12 ***
Speciesversicolor   1.4587     0.1121  13.012  < 2e-16 ***
Speciesvirginica    1.9468     0.1000  19.465  < 2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

(Dispersion parameter for gaussian family taken to be 0.1918059)

    Null deviance: 102.168  on 149  degrees of freedom
Residual deviance:  28.004  on 146  degrees of freedom
AIC: 183.94

Number of Fisher Scoring iterations: 2


[[2]]

Call:
glm(formula = Sepal.Length ~ Sepal.Width + Species, family = family,
    data = iris)

Deviance Residuals:
     Min        1Q    Median        3Q       Max
-0.52652  -0.10966  -0.01230   0.07755   0.56101

Coefficients:
                  Estimate Std. Error z value Pr(>|z|)
(Intercept)        1.13033    0.35454   3.188 0.001432 **
Sepal.Width        0.13971    0.10119   1.381 0.167361
Speciesversicolor  0.26277    0.10901   2.410 0.015931 *
Speciesvirginica   0.33842    0.09587   3.530 0.000416 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

(Dispersion parameter for poisson family taken to be 1)

    Null deviance: 17.3620  on 149  degrees of freedom
Residual deviance:  4.5202  on 146  degrees of freedom
AIC: Inf

Number of Fisher Scoring iterations: 3

## Running SQL Queries from SparkR
A SparkDataFrame can also be registered as a temporary view in Spark SQL and that allows you to run SQL queries over its data. The sql function enables applications to run SQL queries programmatically and returns the result as a SparkDataFrame.

In [26]:
# Load a JSON file
people <- read.df("/opt/spark/examples/src/main/resources/people.json", "json")

# Register this SparkDataFrame as a temporary view.
createOrReplaceTempView(people, "people")

# SQL statements can be run by using the sql method
teenagers <- sql("SELECT name FROM people WHERE age >= 13 AND age <= 19")
head(teenagers)

  name
1 Justin

## Machine Learning

### Algorithms
SparkR supports the following machine learning algorithms currently:

#### Classification
- spark.logit: Logistic Regression
- spark.mlp: Multilayer Perceptron (MLP)
- spark.naiveBayes: Naive Bayes
- spark.svmLinear: Linear Support Vector Machine

#### Regression
- spark.survreg: Accelerated Failure Time (AFT) Survival Model
- spark.glm or glm: Generalized Linear Model (GLM)
- spark.isoreg: Isotonic Regression

#### Tree
- spark.decisionTree: Decision Tree for Regression and Classification
- spark.gbt: Gradient Boosted Trees for Regression and Classification
- spark.randomForest: Random Forest for Regression and Classification

#### Clustering
- spark.bisectingKmeans: Bisecting k-means
- spark.gaussianMixture: Gaussian Mixture Model (GMM)
- spark.kmeans: K-Means
- spark.lda: Latent Dirichlet Allocation (LDA)

#### Collaborative Filtering
- spark.als: Alternating Least Squares (ALS)
- Frequent Pattern Mining
- spark.fpGrowth : FP-growth

#### Statistics
- spark.kstest: Kolmogorov-Smirnov Test

Under the hood, SparkR uses MLlib to train the model. Please refer to the corresponding section of MLlib user guide for example code. Users can call summary to print a summary of the fitted model, predict to make predictions on new data, and write.ml/read.ml to save/load fitted models. SparkR supports a subset of the available R formula operators for model fitting, including ‘~’, ‘.’, ‘:’, ‘+’, and ‘-‘.

### Model persistence
The following example shows how to save/load a MLlib model by SparkR.

In [27]:
training <- read.df("/opt/spark/data/mllib/sample_multiclass_classification_data.txt", source = "libsvm")
# Fit a generalized linear model of family "gaussian" with spark.glm
df_list <- randomSplit(training, c(7,3), 2)
gaussianDF <- df_list[[1]]
gaussianTestDF <- df_list[[2]]
gaussianGLM <- spark.glm(gaussianDF, label ~ features, family = "gaussian")

# Save and then load a fitted MLlib model
modelPath <- tempfile(pattern = "ml", fileext = ".tmp")
write.ml(gaussianGLM, modelPath)
gaussianGLM2 <- read.ml(modelPath)

# Check model summary
summary(gaussianGLM2)

# Check model prediction
gaussianPredictions <- predict(gaussianGLM2, gaussianTestDF)
head(gaussianPredictions)

unlink(modelPath)

Saved-loaded model does not support output 'Deviance Residuals'.

Coefficients:
              Estimate  Std. Error   t value    Pr(>|t|)
(Intercept)   0.886604    0.080965  10.95045  0.0000e+00
features_0   -0.060493    0.406325  -0.14888  8.8195e-01
features_1   -0.613922    0.281482  -2.18103  3.1502e-02
features_2    1.677997    0.701195   2.39305  1.8556e-02
features_3   -2.035859    0.475488  -4.28162  4.2331e-05

(Dispersion parameter for gaussian family taken to be 0.4809826)

    Null deviance: 70.538  on 105  degrees of freedom
Residual deviance: 48.579  on 101  degrees of freedom
AIC: 230.1

Number of Fisher Scoring iterations: 1

  label features                      prediction
1 0     <environment: 0x55ccc51a7f40>  0.80150483
2 0     <environment: 0x55ccc51aeb00>  1.96245136
3 0     <environment: 0x55ccc51b5fb0>  0.72310041
4 0     <environment: 0x55ccc51c6a18>  1.39934665
5 0     <environment: 0x55ccc51cd910> -0.04107059
6 0     <environment: 0x55ccc51d66f0>  0.66246359

Find full example code at "examples/src/main/r/ml/ml.R" in the Spark repo.

In [28]:
sparkR.session.stop()

## Data type mapping between R and Spark

<table class="table">
  <thead>
    <tr>
      <th>R</th>
      <th>Spark</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>byte</td><td>byte</td>
    </tr>
    <tr>
        <td>integer</td><td>integer</td>
    </tr>
    <tr>
        <td>float</td><td>float</td>
    </tr>
    <tr>
        <td>double</td><td>double</td>
    </tr>
    <tr>
        <td>numeric</td><td>double</td>
    </tr>
    <tr>
        <td>character</td><td>string</td>
    </tr>
    <tr>
        <td>string</td><td>string</td>
    </tr>
    <tr>
        <td>binary</td><td>binary</td>
    </tr>
    <tr>
        <td>raw</td><td></td>
    </tr>
    <tr>
        <td>logical</td><td>boolean</td>
    </tr>
    <tr>
        <td>POSIXct</td><td>timestamp</td>
    </tr>
    <tr>
        <td>POSIXlt</td><td>timestamp</td>
    </tr>
    <tr>
        <td>Date</td><td>date</td>
    </tr>
    <tr>
        <td>array</td><td>array</td>
    </tr>
    <tr>
        <td>list</td><td>array</td>
    </tr>
    <tr>
        <td>env</td><td>map</td>
    </tr>
    </tbody>
     <tfoot><tr><td colspan="4"></td></tr></tfoot>
</table>